@inject NavigationManager NavigationManager
@using PokéService.Entities;

<div class="card mb-4">
	<img src="@(pokémon.Image)"/>
	<h3>@(pokémon.Name)</h3>
</div>

@code {
	[Parameter] public required Pokémon pokémon { get; set; }
	[Parameter] public required bool Addable { get; set; }

	public void OnClick()
	{
		NavigationManager.NavigateTo($"/pokémon/{pokémon.Id}");
	}
}
