@inject NavigationManager NavigationManager
@inject PokémonService pokémonService
@using PokéService.Entities;

<div class="card mb-4 rounded">
	<div class="card-container rounded">
		<div class="card-image rounded bg-dark">
			<img id="card-@(id)" src="@(url)" class="bg-dark img-fluid rounded-2 mx-auto d-block @(loading ? "card-image-blur": "")" alt="@(pokémon.Name)" @onload="Loaded" @onclick="OnClick" />
		</div>
		<div class="card-spinner">
			@if (loading)
			{
				<div id="spinner-@(id)" class="spinner-border text-primary" role="status">
					<span class="visually-hidden">Loading...</span>
				</div>
			}
		</div>


		<AuthorizeView Roles="User">
			<Authorized>
				<div class="card-button">
					@if (pokémon.Possessed)
					{
						<button class="btn btn-outline-danger" @onclick="OnDelete">
							<span class="bi bi-trash" aria-hidden="true"></span>
						</button>
					}
					else
					{
						<button class="btn btn-outline-success card-image-blur" @onclick="OnAdd">
							<span class="bi bi-plus" aria-hidden="true"></span>
						</button>
					}
				</div>
			</Authorized>
		</AuthorizeView>

	</div>
</div>


@code {
	[Parameter] public required Pokémon pokémon {
		get { return _pk; }
		set { Loading(value); _pk = value; }
	}
	[Parameter] public required bool OnlyDeletable { get; set; } = false;
	[Parameter] public Func<Pokémon, Task>? Deleter { get; set; }

	static int count = 0;

	private int id;
	public required Pokémon _pk;
	public bool loading = false;
	public string url = "";

	public void Loading(Pokémon pk)
	{
		loading = _pk?.Image != pk.Image;
		if (loading) {
			url = pk.Image;
		}
	}

	public void Loaded()
	{
		url = pokémon.Image;
		loading = false;
	}

	protected override void OnInitialized()
	{
		id = count++;
	}

	public async Task OnAdd()
	{
		if(await pokémonService.AddCard(pokémon.Id)) pokémon.Possessed = true;
	}

	public async Task OnDelete()
	{
		if (await pokémonService.DeleteCard(pokémon.Id)) pokémon.Possessed = false;
		if (OnlyDeletable && Deleter is not null) await Deleter(pokémon);
	}


	public void OnClick()
	{
		NavigationManager.NavigateTo($"/pokémon/{pokémon.Id}");
	}
}
