@inject NavigationManager NavigationManager
@inject PokémonService pokémonService
@using PokéService.Entities;

<div class="card mb-4">
	<h3>@(pokémon.Name) @pokémon.LocalId / @pokémon.Total</h3>
	<div class="card-ratio">
		<img id="card-@(id)" src="@(url)" class="img-fluid rounded mx-auto d-block" alt="@(pokémon.Name)" @onload="Loaded" @onclick="OnClick"/>
		@if (loading)
		{
			<div id="spinner-@(id)" class="spinner-border text-primary" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
		}
		@if (pokémon.Possessed)
		{
			// button to delete the card
			<button class="btn btn-primary" @onclick="OnDelete">Supprimer</button>
			
		} else {
			// button to add the card
			<button class="btn btn-primary" @onclick="OnAdd">Ajouter</button>
		}
	</div>
</div>


@code {
	[Parameter] public required Pokémon pokémon {
		get { return _pk; }
		set { Loading(value); _pk = value; }
	}
	[Parameter] public required bool OnlyDeletable { get; set; } = false;
	[Parameter] public Func<Pokémon, Task>? Deleter { get; set; }

	static int count = 0;

	private int id;
	public required Pokémon _pk;
	public bool loading = false;
	public string url = "";

	public void Loading(Pokémon pk)
	{
		loading = _pk?.Image != pk.Image;
		if (loading) {
			url = pk.Image;
		}
	}

	public void Loaded()
	{
		url = pokémon.Image;
		loading = false;
	}

	protected override void OnInitialized()
	{
		id = count++;
	}

	public async Task OnAdd()
	{
		if(await pokémonService.AddCard(pokémon.Id)) pokémon.Possessed = true;
	}

	public async Task OnDelete()
	{
		if (await pokémonService.DeleteCard(pokémon.Id)) pokémon.Possessed = false;
		if (OnlyDeletable && Deleter is not null) await Deleter(pokémon);
	}


	public void OnClick()
	{
		NavigationManager.NavigateTo($"/pokémon/{pokémon.Id}");
	}
}
