@page "/account"
@inject NavigationManager NavigationManager
@inject DeleteService deleteService
@inject AuthenticationStateProvider authStateProvider
@using System.Security.Claims

<AuthorizeView Roles="User">
    <Authorized>
        <PageTitle>Mon compte</PageTitle>

        <h1>Mon compte</h1>

        <button class="btn btn-primary" @onclick="HandleSuppression">Supprimer le compte</button>
    </Authorized>
    <NotAuthorized>
        Not Logged in
    </NotAuthorized>
</AuthorizeView>

@code {
    private async Task HandleSuppression()
    {

        deleteService.SetAuthenticator((CustomAuthenticationStateProvider)authStateProvider);

        // Appeler la méthode DeleteAccount en passant l'ID de l'utilisateur
        var result = await deleteService.DeleteAccount();
        deleteService.Logout();
        NavigationManager.NavigateTo("/login");

    }
}