@page "/account"
@inject NavigationManager NavigationManager
@inject UserService userService
@inject AuthenticationStateProvider authStateProvider
@using System.Security.Claims

<link rel="stylesheet" href="style.css"/>

<AuthorizeView Roles="User">
    <Authorized>
        <PageTitle>Mon compte</PageTitle>

        <div class="titleBanner">
            <img src="images/Mon-compte.png" alt="Account Image">
        </div>

        <button class="btn btn-primary" @onclick="HandleSuppression">Supprimer le compte</button>

        @*<h2>Mon ID:@(await (CustomAuthenticationStateProvider)authStateProvider.GetAuthenticationIdAsync())</h2>*@

    </Authorized>
    <NotAuthorized>
        Not Logged in
    </NotAuthorized>
</AuthorizeView>

@code {


    private async Task HandleSuppression()
    {
        // Appeler la méthode DeleteAccount en passant l'ID de l'utilisateur
        var result = await userService.DeleteAccount();

        //await deleteService.Logout();
        NavigationManager.NavigateTo("/login");

    }
}