@page "/account"
@inject NavigationManager NavigationManager
@inject DeleteService deleteService
@inject AuthenticationStateProvider authStateProvider
@using System.Security.Claims

<link rel="stylesheet" href="style.css"/>

<AuthorizeView Roles="User">
    <Authorized>
        <PageTitle>Mon compte</PageTitle>

        <div class="titleBanner">
            <img src="images/Mon-compte.png" alt="Account Image">
        </div>

        <button class="btn btn-primary" @onclick="HandleSuppression">Supprimer le compte</button>
    </Authorized>
    <NotAuthorized>
        Not Logged in
    </NotAuthorized>
</AuthorizeView>

@code {
    private async Task HandleSuppression()
    {

        deleteService.SetAuthenticator((CustomAuthenticationStateProvider)authStateProvider);

        // Appeler la méthode DeleteAccount en passant l'ID de l'utilisateur
        var result = await deleteService.DeleteAccount();
        //await deleteService.Logout();
        NavigationManager.NavigateTo("/login");

    }
}