@page "/collect"
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider authStateProvider
@inject PokémonService pokémonService
@using System.Security.Claims
@using Front.Components.Widget
@using Front.Entities

<AuthorizeView Roles="User">
    <Authorized>
        <PageTitle>Collection</PageTitle>

        <div class="titleBanner">
            <img src="images/Collection.png" alt="Collection Image">
        </div>

        <SearchGrid Searcher="Searcher" OnlyDeletable="true" />


    </Authorized>
    <NotAuthorized>
        <h1>@Redirect</h1>
    </NotAuthorized>
</AuthorizeView>

@code {

    public string Redirect { // redirect to login page if not logged in
        get {
            NavigationManager.NavigateTo("/login");
            return "Redirection...";
        } 
    }

    public async Task<IEnumerable<Pokémon>?> Searcher(string query)
    {
        return await pokémonService.GetCollection(query);
    }
}