@page "/collect"
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider authStateProvider
@using System.Security.Claims

<AuthorizeView Roles="User">
    <Authorized>
        <PageTitle>Collection</PageTitle>

        <h1>Collection de @context.User.Identity.Name</h1>

    </Authorized>
    <NotAuthorized>
        Not logged in
    </NotAuthorized>
</AuthorizeView>

@code {
}