@page "/login"
@inject ILogger<Login> Logger
@inject NavigationManager NavigationManager
@inject LoginService loginService
@inject AuthenticationStateProvider authStateProvider

<PageTitle>Login</PageTitle>

<div class="titleBanner">
    <img src="images/Connection.png" alt="Connection Image">
</div>

<EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
    <InputText @bind-Value="loginModel.Username" />
    <InputText @bind-Value="loginModel.Password" type="password" />
    <button type="submit">Login</button>

    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <p class="error">@errorMessage</p>
    }
</EditForm>

@code {
    private LoginModel loginModel = new LoginModel();
    private string errorMessage = ""; 

    private async void HandleLogin()
    {
        loginService.SetAuthenticator((CustomAuthenticationStateProvider)authStateProvider);
        var user = await loginService.AuthenticateUser(loginModel.Username, loginModel.Password);
        if (user != null)
        {
            var userClaim = await ((CustomAuthenticationStateProvider)authStateProvider).MarkUserAsAuthenticated(user);

            NavigationManager.NavigateTo("/");
        }
        else
        {
            errorMessage = "Echec de l'authentification. Veuillez verifier votre nom d'utilisateur et votre mot de passe.";
        }
    }

    private class LoginModel
    {
        public string Username { get; set; } = "";
        public string Password { get; set; } = "";
    }
}
