@page "/register"
@inject ILogger<Register> register
@inject NavigationManager NavigationManager
@inject RegisterService registerService
@inject AuthenticationStateProvider authStateProvider

<link rel="stylesheet" href="style.css" />

<PageTitle>Register</PageTitle>
<div class="titleBanner">
    <img src="images/Inscription.png" alt="Inscription Image">
</div>
<div class="form-horizontal">
<EditForm Model="@userCreateModel" OnValidSubmit="HandleRegister">
    <InputText @bind-Value="userCreateModel.Email" typeof="email" placeholder="Mail" class="form-control"/>
        <InputText @bind-Value="userCreateModel.Name" placeholder="Nom d'utilisateur" class="form-control" />
        <InputText @bind-Value="userCreateModel.Password" type="password" placeholder="Mot de passe" class="form-control" />
    <button type="submit">S'inscrire</button>

    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <p class="error">@errorMessage</p>
    }
</EditForm>
</div>

@code {
    private UserCreateModel userCreateModel = new UserCreateModel();
    private string errorMessage = "";


    private async void HandleRegister()
    {
        registerService.SetAuthenticator((CustomAuthenticationStateProvider)authStateProvider);

        var user = await registerService.CreateUser(userCreateModel.Email, userCreateModel.Name, userCreateModel.Password);
        if (user.IsSuccess)
        {
            NavigationManager.NavigateTo("/login");
        }
        else
        {
            errorMessage = user.ErrorMessage;
        }
    }

    public class UserCreateModel
    {
        public string Password { get; set; } = "";
        public string Name { get; set; } = "";
        public string Email { get; set; } = "";
    }
}