@page "/register"
@inject ILogger<Register> register
@inject NavigationManager NavigationManager
@inject RegisterService registerService
@inject AuthenticationStateProvider authStateProvider

<EditForm Model="@userCreateModel" OnValidSubmit="HandleRegister">
    <InputText @bind-Value="userCreateModel.Email" typeof="email"/>
    <InputText @bind-Value="userCreateModel.Name" />
    <InputText @bind-Value="userCreateModel.Password" type="password" />
    <button type="submit">Register</button>

    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <p class="error">@errorMessage</p>
    }
</EditForm>

@code {
    private UserCreateModel userCreateModel = new UserCreateModel();
    private string errorMessage = "";


    private async void HandleRegister()
    {
        registerService.SetAuthenticator((CustomAuthenticationStateProvider)authStateProvider);

        var user = await registerService.CreateUser(userCreateModel.Email, userCreateModel.Name, userCreateModel.Password); //.Result
        if (user.IsSuccess)
        {
            NavigationManager.NavigateTo("/login");
        }
        else
        {
            errorMessage = user.ErrorMessage;
        }
    }

    public class UserCreateModel
    {
        public string Password { get; set; } = "";
        public string Name { get; set; } = "";
        public string Email { get; set; } = "";
    }
}